/* 
	jQuery Logo Slider Ticker 
	by http://webdesignandsuch.com
	build with code from http://bxslider.com
*/


#slider {
	list-style:none;
	padding:0px
}

.slider-container { 
	overflow: hidden;
}

#slider img { 
	max-width:200px;
	margin:auto;
	display:inline-block;  
	max-height:150px;
	margin-top:auto;
	margin-bottom:auto;
}

#slider li {
	width:250px
}




