#clockdiv {
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 18px;
    width: 100%;
    color: #fff;
}

#clockdiv>div {
    padding: 6px;
    border-radius: 3px;
    background: #09875d;
    display: inline-block;
}

#clockdiv div>span {
    padding: 15px;
    border-radius: 3px;
    background: rgba(132, 22, 27, 0.4);
    display: inline-block;
}