$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "_fontface.scss";
@import "_bxSlider.scss";
@import "_flipclock.scss";
@import "_JustVector.scss";
#lnkAbout,
#lnkContact {
    display: none;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
    font-family: "Roboto Condensed", HelveticaMed, "Helvetica Neue", Helvetica;
    background-color: #f3f3f3;
    color: #5f5c5c;
}

a {
    color: #09875d;
}

a:hover,
a:focus {
    color: #fcb813;
    text-decoration: underline;
}

.container {
    padding: 0;
}

.smallPrint {
    font-size: 14px;
    margin-bottom: 5px;
}

.musicHeader {
    margin-bottom: 0;
    color: #09875d;
}

.bandDiv {
    width: 80%;
    margin: auto;
    padding-bottom: 30px;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background-color: #09875d;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.rowPadding {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.ticketRow {
    padding-top: 15px;
    margin-top: 10px;
}


/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    background-color: #09875d;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

.main-nav-scrolled {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #09875d;
    z-index: 10000;
    transition: all 0.3s ease-in-out;
}

#navLogo {
    height: 50px;
    float: left;
    padding-left: 2px;
    padding-bottom: 4px;
}

.navbar,
.navbar-default {
    border-color: #ffffff;
    background-color: inherit;
    border-radius: 0;
    margin-bottom: 0;
    border: 0;
}

.navbar-brand,
.navbar-header {
    width: 100%;
    height: auto;
}

.navbar-header {
    margin-top: 5px;
    max-height: 215px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fcb813;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #fcb813;
}

.container>.navbar-header {
    margin-left: 0;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    margin-right: 0;
    right: 0;
}

.image {
    width: 72%;
    height: auto;
    max-height: 200px;
    padding-top: 4%;
    margin: auto;
}

.footerimage {
    width: auto;
    margin: auto;
    height: 40px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: rgba(19, 31, 70, 0.22);
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a>span {
    color: #ffffff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle {
    border: none;
    background: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: none;
}

.navbar-nav {
    text-align: center;
}

.caret {
    color: #fcb813 !important;
}


/* Custom page footer */

.footer {
    padding-top: 12px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    background-color: #f9f8f7;
}

.container-narrow>hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}


/* Supporting marketing content */

.marketing {
    margin: 10px 0;
    p+h4 {
        margin-top: 28px;
    }
}

.marketingWide {
    margin: 0;
    p+h4 {
        margin-top: 0;
    }
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 760px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .marketingWide,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead 
  .header {
    margin-bottom: 30px;
  }*/
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.mapImage {
    width: 90%;
}

.fullBg {
    margin: 0px;
    margin-top: -1px;
    width: 100%;
    max-width: 100%;
}

p {
    font-size: 16px;
}

.angular-google-map-container {
    height: 400px;
    width: 100%;
}

.youtubePopup:focus {
    outline: 0;
}

.clockContainer {
    margin-left: auto;
    margin-right: auto;
    width: 355px;
    zoom: 78%;
}

#ticketImg {
    width: 50%;
    margin: auto;
}

#beerImg {
    width: 30%;
    margin: auto;
}

.goodCauseImg {
    width: 100%;
}

.lnkGoodCause,
.lnkGoodCause :hover,
.lnkGoodCause :focus {
    color: #333333;
}

.listBrewer {
    color: #656464;
    font-weight: bold;
    font-size: 14px;
}

.listName {
    font-size: 20px;
    color: #09875d;
}

.listAbv {
    font-style: italic;
    padding-left: 1em
}

.filterInput {
    padding: 0px;
    border: 1px solid #a7a4a4;
}

.clearPadding {
    padding: 0;
}

.bottomPadding {
    padding-bottom: 15px;
}

.bottomPaddingSm {
    padding-bottom: 5px;
}

.dropdown-menu {
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    transform: rotateX(90deg);
    transform-origin: top;
    opacity: 0;
    display: block;
}

.open .dropdown-menu {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
}

.times{
    font-size: 14pt;
}

@media (min-width: 768px) {
    .navbar .nav,
    .navbar .nav>li {
        float: none;
        display: inline-block;
        *display: inline;
        /* ie7 fix */
        *zoom: 1;
        /* hasLayout ie7 trigger */
        vertical-align: top;
    }
    .navbar-collapse {
        text-align: center;
    }
    .navSocial {
        display: none !important;
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
}

.navSocial>p>a {
    color: #fcb813 !important;
    font-size: 26px;
}

@media (max-width: 767px) {
    .navSocial {
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }
    .nav {
        font-size: 26px;
    }
    .navbar-collapse {
        border: none;
        box-shadow: none;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
        text-align: center;
        font-size: 18px;
    }
    .navbar-default .navbar-nav .open .dropdown-toggle {
        background: none;
        color: #fff;
    }
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover {
        background: none;
        color: #333333;
    }
    .navbar-default .navbar-nav>li>a:focus {
        color: #ffffff !important;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #09875d;
    }
}