$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_fontface.scss";
@import "_bxSlider.scss";
@import "_flipclock.scss";
@import "_JustVector.scss";

#lnkAbout, #lnkContact{
  display:none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: "Roboto Condensed", HelveticaMed, "Helvetica Neue", Helvetica;
  background-color: #f3f3f3;
}

.container{
  padding:0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  background-color: #0096c9;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  left:0;
  background-color: #0096c9;
  z-index: 10000;
  transition: all 0.3s ease-in-out;
}

#navLogo{
    height: 50px;
    float: left;
    padding-right: 50px;
    padding-left: 20px;
}

  .navbar, .navbar-default{
    border-color: #0096c9;
    background-color: inherit;
    border-radius: 0;
    margin-bottom: 0;
    border: 0;
  }

  .navbar-brand, .navbar-header {
    width: 100%;
    margin-bottom: 10px;
}

.navbar-brand {
    height: 180px;
}

.navbar-header {
    height: 150px;
    margin-top: 5px;
}

  .container > .navbar-header{
    margin-left: 0;
  }

  .navbar-toggle{
    position:absolute;
    top:1px;
    right:1px;
  }

  .image{
    width:auto;
    margin: auto;
    height:100%;
  }

  .footerimage{
    width:auto;
    margin: auto;
    height:40px;
  }

  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #131F46;
    background-color:rgba(19, 31, 70, 0.22);
}

  .navbar-default .navbar-nav > li > a {
    color: #131F46;
  }

   .navbar-default .navbar-nav > li > a > span {
    color: #131F46;
  }

  .navbar-default .navbar-toggle {
    border-color: #131F46;
  }

  .navbar-nav{
    text-align:center;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #131F46;
  }

/* Custom page footer */
.footer {
  padding-top: 12px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  background-color: #f9f8f7;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 10px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead 
  .header {
    margin-bottom: 30px;
  }*/

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.mapImage{
  width:90%;
}


.fullBg {
    margin: 0px;
    margin-top: -1px;
    width: 100%;
    max-width: 100%;
}

p{
  font-size: 16px;
}

.angular-google-map-container { 
  height: 400px;
  width:100%; 
  }

  .youtubePopup:focus{
    outline: 0;
  }

  .clockContainer{
    margin-left: auto;
    margin-right: auto;
    width: 355px;
    zoom:78%;
  }