<div class="row marketing col-md-12">
    <h2>Cider List</h2>
    <div class="col-md-12 clearPadding bottomPadding">
        <div class="col-md-6 clearPadding bottomPaddingSm">
            <span>Sort By:</span>
            <br>
            <select ng-init="sortBy = 'Brewery'" ng-model="sortBy">
        <option value="Brewery">Brewer (A to Z)</option>
        <option value="-Brewery">Brewer (Z to A)</option>
        <option value="Name">Name (A to Z)</option>
        <option value="-Name">Name (Z to A)</option>
        <option value="ABV">ABV (Lowest First)</option>
        <option value="-ABV">ABV (Highest First)</option>
        <option value="Type">Type</option>
      </select>
        </div>
        <div class="col-md-6 clearPadding">
            <span>Filter By:</span>
            <br>
            <input class="filterInput" ng-model="query" type="text" placeholder="Type here to filter the list">
        </div>
    </div>
    <br>
    <div ng-repeat="cider in ciderList | filter:query | orderBy: sortBy ">
        <p>
            <span class="listBrewer">{{cider.Brewery}}</span>
            <br>
            <span class="listName">{{cider.Name}}</span>
            <span class="listAbv">
                <span ng-if="cider.ABV != 0">{{cider.ABV}}</span> 
            </span>
            <br> 
        </p>
        <br>
    </div>
    <br><br>
    <span>
            All traditionally made ciders and perries are naturally gluten free (gf). Almost all of them don’t contain other allergens and are either vegan (ve) or vegetarian (v). We cannot be certain that all the ciders and perries we are selling are vegetarian, vegan and/or contain other allergens. Whilst we have tried to establish the provenance of our ciders and perries, you must not rely on our labelling of drinks, or any advice from volunteers but contact the brewer directly to confirm whether your preferred cider or perry is indeed vegetarian, vegan and/ or contains other allergens.
    </span>
</div>