<div class="row marketing col-md-12">
    <h2>Lager &amp; Craft Keg List</h2>
    <div class="col-md-12 clearPadding bottomPadding">
        <div class="col-md-6 clearPadding bottomPaddingSm">
            <span>Sort By:</span>
            <br>
            <select ng-init="sortBy = 'Brewer'" ng-model="sortBy">
                <option value="Brewery">Brewer (A to Z)</option>
                <option value="-Brewery">Brewer (Z to A)</option>
                <option value="Name">Name (A to Z)</option>
                <option value="-Name">Name (Z to A)</option>
                <option value="ABV">ABV (Lowest First)</option>
                <option value="-ABV">ABV (Highest First)</option>
            </select>
        </div>
        <div class="col-md-6 clearPadding">
            <span>Filter By:</span>
            <br>
            <input class="filterInput" ng-model="query" type="text" placeholder="Type here to filter the list">
        </div>
    </div>
    <br>
    <div ng-repeat="craft in craftList | filter:query | orderBy: sortBy ">
        <p>
            <span class="listBrewer">{{craft.Brewery}}</span>
            <br>
            <span class="listName">{{craft.Name}}</span>
            <span class="listAbv">
				<span ng-if="craft.ABV != 0">{{craft.ABV}}</span>
            </span>
            <br><a class="listSite" href="{{craft.Website}}" ng-if="!craft.Notes">{{craft.Website}}</a>
            <span ng-if="!craft.Website">{{craft.Notes}}</span>
        </p>
        <br>
    </div>
    <br><br>
    <span>We plan to serve all of these beers/ciders/perries at the festival at some point. Some beers will run out quicker than others. Sometimes our suppliers provide alternatives to the beers we asked for. <br>We apologise in advance if we don’t have a specific beer, cider or perry you want on the day(s) that you attend.</span>
</div>