<div class="row marketingWide col-md-12">
    <div class="col-md-6 rowPadding">
        <div style="text-align: center;">
            <a class="lnkGoodCause" href='https://www.c-r-y.org.uk/lizzie-nee/'>
                <h2>Lizzie Nee Memorial Fund</h2>
                <img class="goodCauseImg" src="images/lizzie.jpg" />
            </a>
            <br><br>
            <p>This memorial fund has been set up by the family to help CRY (Cardiac Risk in the Young) reduce the frequency of young sudden cardiac death through supporting CRY’s screening programme.</p>
        </div>
    </div>
    <div class="col-md-6 rowPadding">
        <div style="text-align: center;">
            <a class="lnkGoodCause" href='http://www.togetherdementiasupport.org/'>
                <h2>Together Dementia Support</h2>
                <img class="goodCauseImg" src="images/TDS.png" />
            </a>
            <br><br>
            <p>Together Dementia Support provides a range of activities with the aim of improving the quality of life of people with dementia and of their carers. We believe that people with this condition still have much to contribute to society and should
                be enabled to stay physically fit and have fun. We are also keen to enable the voice of people with dementia and their carers to be heard in shaping and campaigning for better services.</p>
        </div>
    </div>
</div>