<div class="row marketingWide col-md-12">
    <div class="col-md-6 rowPadding">
        <div style="text-align: center;">
            <a class="lnkGoodCause" href='http://42ndstreet.org.uk/'>
                <h2>42nd Street</h2>
                <img class="goodCauseImg" src="images/4ndstreet.png" />
            </a>
            <br><br>
            <p>42nd Street is an innovative Greater Manchester young people’s mental health charity with 38 years’ experience of providing free and confidential services to young people who are experiencing difficulties with their mental health and emotional
                wellbeing.</p>
        </div>
    </div>
    <div class="col-md-6 rowPadding">
        <div style="text-align: center;">
            <a class="lnkGoodCause" href='http://www.togetherdementiasupport.org/'>
                <h2>Together Dementia Support</h2>
                <img class="goodCauseImg" src="images/TDS.png" />
            </a>
            <br><br>
            <p>Together Dementia Support provides a range of activities with the aim of improving the quality of life of people with dementia and of their carers. We believe that people with this condition still have much to contribute to society and should
                be enabled to stay physically fit and have fun. We are also keen to enable the voice of people with dementia and their carers to be heard in shaping and campaigning for better services.</p>
        </div>
    </div>
</div>