<div class="row marketing col-md-6 rowCountdown">
  <h3>The 9th Annual Didsbury Beer Festival</h3>
  <p>
    100+ Beers, Ciders &amp; Perries,
		with great food &amp; music<br><br>
  </p>

  <div class="clock"></div>
  
  <h4>Check out our social offerings</h4>
  <p>
       <a href="https://twitter.com/dbf_beer">Twitter</a><br>
        <a href="https://www.facebook.com/pages/Didsbury-Beer-Festival/353791738079986"">Facebook</a><br>
        <a href="http://www.flickr.com/photos/65526946@N08/">Flickr</a><br>
        <a href="http://www.youtube.com/user/Didsburybeerfestival">YouTube</a><br>
        <a href="http://didsburybeer.blogspot.co.uk/">Blogspot</a><br>
        <a href="https://plus.google.com/111188242650217473870" rel="publisher">Google+</a><br>
  </p>
  <h4>Contact us</h4>
  <p>
    For all general enquiries, please email info@didsburybeerfestival.org.uk
  </p>
</div>
<div class="row marketing col-md-6">
  <br>
<twitter-widget>
  <a class="twitter-timeline" data-lang="en" data-height="450" data-theme="light" href="https://twitter.com/dbf_beer"></a>
</twitter-widget>
</div>