<div class="row marketing col-md-12">
    <div style="text-align:center;">
        <h1>Thursday</h1>
    </div>
    <div class="bandDiv">
        <h3 class="musicHeader"><a href="https://thefrescofuture.bandcamp.com/">Fresco Future</a></h3>
        <span class="smallPrint">20:00 - 20:45</span>
        <p>Blending influences of Britpop, emo, and a love of 60s pop and surf.</p>
        <img width="100%" src="images/fresco.jpg">
    </div>
    <div class="bandDiv">
        <h3 class="musicHeader">Tom Hingley</h3>
        <span class="smallPrint">21:00 - 22:00</span>
        <p>Former lead singer of the Inspiral Carpets, Tom plays an eclectic mix of Folk, Soul, Gospel and Blues with plenty of heart, as well as acoustic renditions of Inspiral classics.</p>
        <img width="100%" src="images/hingley.jpg">
    </div>
    <div class="bandDiv">
        <h3 class="musicHeader"><a href="https://thefrescofuture.bandcamp.com/">Fresco Future</a></h3>
        <span class="smallPrint">22:15 - 23:00</span>
    </div>

    <div style="text-align:center;">
        <h1>Friday</h1>
    </div>
    <div class="bandDiv">
        <h3 class="musicHeader"><a href="https://www.facebook.com/Misfires/">Tokyo Misfires</a></h3>
        <span class="smallPrint">19:00 - 20:00</span>
        <p>Cheshire based 4-piece band playing upbeat music from the 80s, 90s and now.</p>
        <img width="100%" src="images/misfires.jpg">
    </div>
    <div class="bandDiv">
        <h3 class="musicHeader">Paddle Faster</h3>
        <span class="smallPrint">20:15 - 21:15</span>
        <p>An entertaining and potent blend of unique acoustic styles. Expect traditional, modern, Americana, Celtic, popular etc. Powerful banjo and guitar, alongside strong vocals and harmonies.. goes down great with beer!</p>
        <img width="100%" src="images/paddle.jpg">
    </div>
    <div class="bandDiv">
        <h3 class="musicHeader">Zero Days</h3>
        <span class="smallPrint">21:30 - 23:00</span>
        <p>Zerodays is an electro jazz band combining spoken word, eclectic beats, jazz saxophone and soulful cosmic soundscapes.</p>
        <img width="100%" src="images/zerodays.jpg">
    </div>

    <div style="text-align:center;">
        <h1>Saturday</h1>
    </div>
    <div class="bandDiv">
        <h3 class="musicHeader"><a href="https://www.facebook.com/SwinginAffair/">Swingin' Affair</a></h3>
        <span class="smallPrint">13:00 - 15:00</span>
        <p>Big Band/Easy listening.</p>
        <img width="100%" src="images/sa.jpg">
    </div>
    <div class="bandDiv">
        <h3 class="musicHeader"><a href="https://www.facebook.com/stealingspitfires/">Stealing Spitfires</a></h3>
        <span class="smallPrint">16:00 - 17:30</span>
        <img width="100%" src="images/spitfires.jpg">
    </div>
    <div class="bandDiv">
        <h3 class="musicHeader"><a href="https://www.facebook.com/HalfLifeCoverBand/">Half Life</a></h3>
        <span class="smallPrint">18:00 - 19:30</span>
        <p>Manchester based rock/punk covers band.</p>
        <img width="100%" src="images/halflife.jpg">
    </div>
    <div class="bandDiv">
        <h3 class="musicHeader"><a href="https://www.facebook.com/Sleeping-With-The-Fishes-138136866269031/">Sleeping With The Fishes</a></h3>
        <span class="smallPrint">20:00 - 21:00</span>
        <p>A marvelously cinematic, atmospheric and energy-filled live band.</p>
        <img width="100%" src="images/fishes.jpg">
    </div>
    <div class="bandDiv">
        <h3 class="musicHeader"><a href="https://www.jamesohara.biz/">James O'Hara</a></h3>
        <span class="smallPrint">21:30 - 23:00</span>
        <p>Heavily influenced by the school of Chicago blues with a modern twist.</p>
        <img width="100%" src="images/ohara.png">
    </div>
</div>