<!--<h1>Thursday 27th</h1>
<h2><a href="">Band 1</span></a></h2>
<img src="images/monkeyharris.jpg">
<p>Monkey harris are a six piece covers band based in the north west of england who perform the greatest hits of classic bands with a britpop/indie theme such as oasis, the stone roses, coldplay, the kooks, the killers, james, franz ferdinand, the jam, the who, the kaiser chiefs, stereophonics, the arctic monkeys and many more.</p>

<div style="width:100%; text-align:center;"><img src="images/music.svg" alt="Picture"></div>-->
<div style="text-align:center;"><h1>Friday 28th</h1></div>
<div style="width:80%; margin:auto;">
    <h3><a href="http://redcarpetcoyote.com/">Red Carpet Coyote</span></a></h3>
    <p>High energy blues/rock.</p>
    <img width="100%" src="images/rcc.jpg">
</div>

<!--<div style="width:100%; text-align:center;"><img src="images/music.svg" alt="Picture"></div>-->

<div style="text-align:center;"><h1>Saturday 29th</h1></div>
<div style="width:80%; margin:auto;">
    <h3><a href="https://www.facebook.com/SwinginAffair/">Swingin' Affair</span></a></h3>
    <p>Big Band/Easy listening.</p>
    <img width="100%" src="images/sa.jpg">

    <br><br>

    <h3><a href="https://www.facebook.com/Crafty-Dog-189632137735789/">Crafty Dog</span></a></h3>
    <p>Classic rock and pop.</p>
    <img width="100%" src="images/cd.jpg">
</div>	