<div class="row marketing col-md-12">
    <h1>Privacy Policy Statement</h1>
    <h2>Who are we?</h2>
    <p>Didsbury Beer Festival (DBF) runs an annual beer festival. We will do our best to respect your right privacy and protect your personal information. This is a summary of what DBF does with your information to run an annual beer festival.</p>
    <h2>The information we use and where we get it from</h2>
    <p>When you voluntarily fill out our online form or ask to become a volunteer and/ or sponsor we collect personal contract information, such as yours and your next of kin’s (for emergencies) telephone numbers, postal addresses and email addresses.</p>
    <h2>Sharing your information</h2>
    <p>We don’t share any personal information with other organisations or persons not involved with DBF.</p>
    <h2>Your rights</h2>
    <p>You have legal rights to control what we do with your information. For example, you can ask for a copy of the information we hold, correct it and update it and ask us to delete it. Please contact emaildbf@gmail.com with any requests. If you’re not happy the way we deal with your request you can complain to us at the same email address or contact the Information Commissioner’s Office, https://ico.org.uk/global/contact-us/.</p>
    <h2>How we use your information</h2>
    <p>We only use your information to contact you about future volunteering and sponsorship and your next of kin’s information for emergencies. We don’t use your personal information for any other marketing.</p>
    <h2>How long we keep your information</h2>
    <p>We only keep your information for up to three years, unless you request us to delete it sooner or we are legally required to keep it longer (e.g. due to a court order).</p>
    <h2>Security</h2>
    <p>We keep your details on a password-protected database online, which is only accessible by persons directly involved with DBF with express authority from the Treasurer or Chair of DBF.</p>
</div>