<div class="row marketing col-md-12">
    <p>Thank you all for taking part and congratulations to this years winners (All winners have been contacted):</p>
    <span>
        Ticket #01996 - Hot air balloon ride for two<br>
        ticket #01581 - Signed Man City Shirt<br>
        ticket #01569 - Two days cricket at Lancashire cricket club<br>
        ticket #00541 - Day at Haydock races for 4 people<br>
        ticket #00818 - 1 month membership at Nuffield health Didsbury<br>
        ticket #01120 - Backs Deli voucher £15<br>
        ticket #00372 - Two tickets Savoy cinema<br>
        ticket #00659 - £30 voucher<br>
        ticket #01574 - £72 gift voucher Withington golf club<br>
        ticket #00686 - Two day passes Waterside leisure club<br>
        ticket #00664 - £50 Solita voucher<br>
        ticket #00308 - Botanist voucher<br>
        ticket #01462 - Pokusevkis £30 voucher</span>
</div>